
header{
    position: relative;
    z-index: 999;
    .nav{
        position:absolute;
         top: 0;
         left: 0;
         width:100%;
         padding:30px 100px;
         display:flex;
         justify-content:space-between;
         align-items: center;

         &__logo{
            color:#094b65;
            font-weight:700;
            font-size:2em;
            text-decoration:none;
         }
         &__links{
            ul{
                display:flex;
                justify-content:center;
                align-items:center;

                li{
                    list-style: none;
                    margin-left:20px;

                    a{
                        text-decoration:none;
                        padding:6px 15px;
                        color:#094b65;
                        cursor: pointer;
                        border-radius: 20px;

                        &:hover,&.active{
                            background:#094b65;
                            color:#fff;
                        }
                        i{
                            padding: 0 10px;
                        }
                    }
                }
            }
         }
    }
}